body {
   font-family: "Roboto",Georgia,"Helvetica Neue","Liberation Sans",Helvetica,Arial,sans-serif;
   font-size: 18px;
   /*line-height: 1.6;*/
   color: black;
   letter-spacing: 0.05em;
   min-width: 960px;
   /* sticky footer height */
   margin-bottom: 260px;
}

html {
   min-height: 100%;
   position: relative;
}

img.logo {
   width: auto;
   height: 80px;
}

img.width-fit {
   width: 100%;
   height: auto;
}

img.small {
   width: auto;
   height: 170px;
   border: 10px solid #d5d5d5;
}

img.medium {
   width: auto;
   height: 250px;
   border: 10px solid #d5d5d5;
}

.navbar-icons img {
   width: auto;
   height: 50px;
}

.navbar {
   background-color: white;
}

.navbar-brand {
   height: 95px;
}

.navbar-header {
   display: inline-block;
   float: left;
}

.navbar-icons {
   display: inline-block;
   float: right;
   text-align: center;
}

.banner .primary-nav{
   width: 100%;
}

.primary-nav {
   background-color: #ecf0f1;
   text-transform: uppercase;
   padding-left: 30px;
}

.navbar-default .navbar-nav>li>a {
   color: #b80000;
   padding-top: 10px;
   padding-bottom: 10px;
}

ul.primary-nav>li>a.active, ul.primary-nav>li>a.active:hover{
   background-color: #b80000;
   color: white;
}

.navbar-fixed-top {
   border-bottom-width: 3px;
   border-color: #b80000;
}

.content-wrap {
   margin-top: 145px;
   padding: 0px;
   /*padding-left: 10%;
   padding-right: 10%;*/
   font-size: 15px;
}

.content {
   padding-left: 10%;
   padding-right: 10%;
}

.content-regular1 {
   border-top: 2px solid gray;
   border-bottom: 2px solid gray;
   padding-top: 30px;
   padding-bottom: 30px;
}

.content-title {
   
}

.content table td {
   padding-left: 40px;
   padding-right: 40px;
   vertical-align: top;
}

.footer-hotlink {
   text-align: center;
   background-color: rgba(150,0,0,0.5);
   padding-bottom: 30px;
   padding-top: 30px;
   margin-bottom: 10px;
}

.jumbotron {
   background-color: white;
}

footer {
   border-top-width: 3px;
   border-color: #b80000;
   width: 100%;
   position: absolute;
   bottom: 0;
   height: 186px;
}

.footer-copyright {
   color: white;
   display: inline-block;
   float: left;
   background-color: #b80000;
   padding:30px;
   width: 100%;
   font-size: 15px;
}

.padding-10 {padding: 10px;}
.text-center {text-align: center;}
.no-pad {padding: 0px;}
.no-margin {margin: 0px;}


/* prevent collapsing */
.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

/* text highlighting colors */
::-moz-selection { /* Code for Firefox */
    color: white;
    background: #b80000;
}

::selection {
    color: white;
    background: #b80000;
}
